name: Deploy to Cloud Run

on:
  push:
    branches:
      - deployment
  workflow_dispatch:
    inputs:
      init_db:
        description: "Force run DB initialization?"
        required: false
        default: "false"

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: GCP_PROJECT_ID
    env:
      DB_INSTANCE_CONNECTION_NAME: "${{ secrets.GCP_PROJECT_ID }}:${{ secrets.GCP_REGION }}:${{ secrets.DB_INSTANCE }}"

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Start Cloud SQL Auth Proxy
        uses: google-github-actions/cloud-sql-proxy@v2
        with:
          instance_connection_name: project-capstone-468109:australia-southeast1:jc3dn-998-db
          credentials_json: ${{ secrets.GCP_SA_KEY }}
            
      - name: Install MySQL Client
        run: sudo apt-get install -y mysql-client
            
      - name: Test DB Connection
        run: |
          mysql --user=${{ secrets.DB_USER }} \
                --password=${{ secrets.DB_PASS }} \
                --host=127.0.0.1 \
                --port=3306 \
                ${{ secrets.DB_NAME }} \
                -e "SELECT NOW();"

      - name: Build & Push Docker image
        run: |
          gcloud builds submit \
            --tag gcr.io/${{ secrets.GCP_PROJECT_ID }}/nextjs-app \
            --project ${{ secrets.GCP_PROJECT_ID }} \
            --timeout=900 \
            --substitutions=_DB_HOST=/cloudsql/$DB_INSTANCE_CONNECTION_NAME,_DB_USER=${{ secrets.DB_USER }},_DB_PASS=${{ secrets.DB_PASSWORD }},_DB_NAME=${{ secrets.DB_NAME }},_BETTER_AUTH_SECRET=${{ secrets.BETTER_AUTH_SECRET }},_BETTER_AUTH_URL=${{ secrets.BETTER_AUTH_URL }},_GOOGLE_CLIENT_ID=${{ secrets.GOOGLE_CLIENT_ID }},_GOOGLE_CLIENT_SECRET=${{ secrets.GOOGLE_CLIENT_SECRET }},_BASE_URL=${{ secrets.BASE_URL }}

      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy nextjs-app \
            --image gcr.io/${{ secrets.GCP_PROJECT_ID }}/nextjs-app \
            --region ${{ secrets.GCP_REGION }} \
            --platform managed \
            --allow-unauthenticated \
            --set-env-vars DB_HOST=/cloudsql/$DB_INSTANCE_CONNECTION_NAME,DB_USER=${{ secrets.DB_USER }},DB_PASS=${{ secrets.DB_PASSWORD }},DB_NAME=${{ secrets.DB_NAME }},BETTER_AUTH_SECRET=${{ secrets.BETTER_AUTH_SECRET }},BETTER_AUTH_URL=${{ secrets.BETTER_AUTH_URL }},GOOGLE_CLIENT_ID=${{ secrets.GOOGLE_CLIENT_ID }},GOOGLE_CLIENT_SECRET=${{ secrets.GOOGLE_CLIENT_SECRET }},BASE_URL=${{ secrets.BASE_URL }}
