name: Deploy to Cloud Run

on:
  push:
    branches:
      - deployment  

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: GCP_PROJECT_ID
    env:
      DB_INSTANCE_CONNECTION_NAME: "${{ secrets.GCP_PROJECT_ID }}:${{ secrets.GCP_REGION }}:${{ secrets.DB_INSTANCE }}"

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Start Cloud SQL Proxy
        uses: ahmadnassri/action-google-cloud-sql-proxy@v1
        with:
          key: ${{ secrets.GCP_SA_KEY }}
          connection: project-capstone-468109:australia-southeast1:jc3dn-998-db          
          port: 3306
      - name: Wait for Cloud SQL Proxy to be ready
        run: |
          for i in {1..20}; do
            if nc -z 127.0.0.1 3306; then
              echo "Cloud SQL Proxy is ready"
              exit 0
            else
              echo "Waiting for Cloud SQL Proxy..."
              sleep 2
            fi
          done
          echo "Timeout waiting for Cloud SQL Proxy"
          exit 1
            
      - name: Install MySQL Client
        run: sudo apt-get install -y mysql-client            
      
      # - name: Initialize MySQL database
      #   working-directory: ${{ github.workspace }}
      #   run: |
      #     mysql --user=${{ secrets.DB_USER }} \
      #           --password=${{ secrets.DB_PASS }} \
      #           --host=127.0.0.1 \
      #           --port=3306 \
      #           --database="${{ secrets.DB_NAME }}" <<'EOSQL'
      #     START TRANSACTION;
      #     SOURCE src/lib/server/db_schema/db_drop.sql;
      #     SOURCE src/lib/server/db_schema/db_create.sql;
      #     SOURCE src/lib/server/db_schema/db_load.sql;
      #     COMMIT;
      #     EOSQL

      - name: Build & Push Docker image
        working-directory: ${{ github.workspace }}
        run: |
          gcloud builds submit \          
          --project ${{ secrets.GCP_PROJECT_ID }} \
          --timeout=900 \
          --config cloudbuild.yaml\          
          .

      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy nextjs-app \
            --image gcr.io/${{ secrets.GCP_PROJECT_ID }}/nextjs-app \
            --region ${{ secrets.GCP_REGION }} \
            --platform managed \
            --allow-unauthenticated \
            --set-env-vars DB_HOST=/cloudsql/$DB_INSTANCE_CONNECTION_NAME,DB_USER=${{ secrets.DB_USER }},DB_PASS=${{ secrets.DB_PASSWORD }},DB_NAME=${{ secrets.DB_NAME }},BETTER_AUTH_SECRET=${{ secrets.BETTER_AUTH_SECRET }},BETTER_AUTH_URL=${{ secrets.BETTER_AUTH_URL }},GOOGLE_CLIENT_ID=${{ secrets.GOOGLE_CLIENT_ID }},GOOGLE_CLIENT_SECRET=${{ secrets.GOOGLE_CLIENT_SECRET }},BASE_URL=${{ secrets.BASE_URL }}
